:root {
  --color-primary: #FF5F40;
  --color-secondary: #334155;
  --color-tertiary: #0EA5E9;
  --color-neutral: #64748B;

  --background: #F1F5F9;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}